<!DOCTYPE html>
<html>
<head>
<title>F A R M A C I A</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="geral.js"></script>
<link rel="shortcut icon" href="img/farmacia.png" type="image/x-icon">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="css/menu.css">

<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>
</head>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-light-grey">
    <div class="w3-col s3" onclick="menu('menu1')">
      <a href="#" class="w3-button w3-block">Conta</a>
    </div>
    <div class="w3-col s3" onclick="menu('menu2')">
      <a href="#plans" class="w3-button w3-block">Ficha</a>
    </div>
    <div class="w3-col s3" onclick="menu('menu3')">
      <a href="#about" class="w3-button w3-block">Pagamento</a>
    </div>
    <div class="w3-col s3">
      <a href="#contact" class="w3-button w3-block">Configuração</a>
    </div>
  </div>
</div>

<!-- inicio -->
<div class="w3-content" style="max-width:1100px;margin-top:10px;margin-bottom:80px">
 
 <!-- ficha  -->
  <div class="w3-container esconder" id="menu2"  >

  
  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">
      <b>  F I C H A</b>
      </span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4" align="center">
        <br>
        <img src="img/pasta-medica.png" alt="John" style="width:50%">
        <div class="w3-container" align="center">
          <h3 >NEW</h3>
          <p><button class="w3-button w3-light-grey w3-block">CRIAR FICHA</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4" align="center">
        <br>
        <img src="img/analise.png" alt="Mike" align="center" style="width:50%">
        <div class="w3-container" align="center">
          <h3>pesquisa</h3>
          <p><button class="w3-button w3-light-grey w3-block">PROCURAR FICHA</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4" align=center>
        <br>
        <img src="img/lixo.png" alt="Jane" style="width:50%">
        <div class="w3-container" align="center">
          <h3>Delete</h3>
         <p><button class="w3-button w3-light-grey w3-block">EXCLUIR FICHA</button></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->

  <br><br>
    <div class="w3-container">
      <form class="w3-container w3-card-4 w3-light-grey">
        <h2 align="center">HISTÓRICO DE PESQUISA...</h2>
        <input class="w3-input w3-border" placeholder="Pesquisar ficha" name="last" type="text"></p>
      </form>

    </div>
  <div class="w3-container">
 <br>
  <table border="2" align="center" class="w3-table w3-striped w3-bordered">
    <th align="center">Id</th>
    <th align="center">Nome</th>
    <th align="center">CPF</th>
    <th align="center">Limite</th>
    <th align="center">DATA</th>
    <th align="center">HORA</th>
    <th align="center">STATUS</th>
    
    <tr></tr>
    <td align="center">1</td>
    <td align="center">jOSE LUIZ VIEIRA filho</td>
    <td align="center">999.999.989-45</td>
    <td align="center">R$500</td>
    <td align="center">19/06/24</td>
    <td align="center">08:50:30</td>
    <td align="center" bgcolor="green">Novo</td>

    <tr></tr>
    <td align="center">2</td>
    <td align="center">jOSE LUIZ VIEIRA filho</td>
    <td align="center">999.999.989-45</td>
    <td align="center">R$500</td>
    <td align="center">19/06/24</td>
    <td align="center">08:50:30</td>
    <td align="center" bgcolor="red">excluido</td>
  
    <tr></tr>
    <td align="center">3</td>
    <td align="center">jOSE LUIZ VIEIRA filho</td>
    <td align="center">999.999.989-45</td>
    <td align="center">R$500</td>
    <td align="center">19/06/24</td>
    <td align="center">08:50:30</td>
    <td align="center" bgcolor="yellow">editado</td>
  </table>

  </div>

  <div class="w3-bar" align="center">
    <br>
    <a href="#" class="w3-button">«</a>
    <a href="#" class="w3-button w3-green">1</a>
    <a href="#" class="w3-button">2</a>
    <a href="#" class="w3-button">3</a>
    <a href="#" class="w3-button">4</a>
    <a href="#" class="w3-button">»</a>
  </div>
</div>
<!-- final da ficha -->

 <!-- conta  -->
 <div class="w3-container esconder" style="display: block;" id="menu1"   >

  
  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">
      <b>  C O N T A </b>
      </span>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4" align="center">
        <br>
        <img src="img/voluntario.png" alt="John" style="width:50%">
        <div class="w3-container" align="center">
          <h3 >BOM PAGADOR</h3>
          <div class="w3-container">
            <ul class="w3-ul w3-hoverable">
              <li> 1ª Jill vieira 💰</li>
              <li> 2ª Jill vieira 💰</li>
              <li> 3ª Jill vieira 💰</li>
            </ul>
          </div>
          <p><button class="w3-button w3-light-grey w3-block">MAIS</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4" align="center">
        <br>
        <img src="img/feliz-aniversario.png" alt="Mike" align="center" style="width:50%">
        <div class="w3-container" align="center">
          <h3>ANIVERSARIANTE </h3>
          <div class="w3-container">
            <ul class="w3-ul w3-hoverable">
              <li > ruck vieira 🎂</li>
              <li>  lex vieira 🎂</li>
             
            </ul>
          </div>
          <p><button class="w3-button w3-light-grey w3-block">MAIS</button></p>
        </div>
      </div>
    </div>

    <div class="w3-third w3-margin-bottom">
      <div class="w3-card-4" align=center>
        <br>
        <img src="img/divida.png" alt="Jane" style="width:50%">
        <div class="w3-container" align="center">
          <h3>MAL PAGADOR</h3>
          <div class="w3-container"></div>
            <ul class="w3-ul w3-hoverable">
              <li> 1ª rocket vieira 💸</li>
              <li> 2ª vivald vieira 💸</li>
              <li> 3ª donatelo vieira 💸</li>
            </ul>
          </div>
         <p><button class="w3-button w3-light-grey w3-block">MAIS</button></p>
        </div>
      </div>
    </div>
<!--  -->
<br><br>
    <div class="w3-container">
    
      <br>
      <br>
      <p>Divida paga :R$ 800,00</p>
  <div class="w3-light-grey w3-xlarge">
    <div class="w3-container w3-green" style="width:80%"> 80%</div>
  </div>
      <p>falta pagar :R$ 200,00</p>
  <div class="w3-light-grey w3-xlarge">
    <div class="w3-container w3-red" style="width:20%"> 20%</div>
  </div>

    </div>

<br>
    <div class="w3-container"></div>
      <form class="w3-container w3-card-4 w3-light-grey">
        <h2 align="center">HISTÓRICO DE PAGAMENTO...</h2>
        <input class="w3-input w3-border" placeholder="Pesquisar ficha" name="last" type="text"></p>
      </form>
      <div class="w3-container">
        <br>
         <table border="2" align="center" class="w3-table w3-striped w3-bordered">
           <th align="center">Id</th>
           <th align="center">Nome</th>
           <th align="center">STATUS</th>
           <th align="center">VALOR</th>
           <th align="center">DATA</th>
           <th align="center">HORA</th>
           <th align="center">TIPO</th>
           
           <tr></tr>
           <td align="center">1</td>
           <td align="center">jOSE LUIZ VIEIRA filho</td>
           <td align="center">PAGAMANETO DA FICHA</td>
           <td align="center">R$20,00</td>
           <td align="center">19/06/24</td>
           <td align="center">08:50:30</td>
           <td align="center" >PIX 📱</td>
       
           <tr></tr>
           <td align="center">2</td>
           <td align="center">jOSE LUIZ VIEIRA filho</td>
           <td align="center">DESODORANTE</td>
           <td align="center">R$50,00</td>
           <td align="center">19/06/24</td>
           <td align="center">08:50:30</td>
           <td align="center">FICHA 📝</td>
         
           <tr></tr>
           <td align="center">3</td>
           <td align="center">jOSE LUIZ VIEIRA filho</td>
           <td align="center">NIMESULIDA</td>
           <td align="center">R$40,00</td>
           <td align="center">19/06/24</td>
           <td align="center">08:50:30</td>
           <td align="center" >FICHA 📝</td>
         </table>
       
         </div>
       
         <div class="w3-bar" align="center">
           <br>
           <a href="#" class="w3-button">«</a>
           <a href="#" class="w3-button w3-green">1</a>
           <a href="#" class="w3-button">2</a>
           <a href="#" class="w3-button">3</a>
           <a href="#" class="w3-button">4</a>
           <a href="#" class="w3-button">»</a>
         </div>
        </div>
 <!-- final da conta -->

 <!-- pagamento  -->
 <div class="w3-container esconder" id="menu3"  >
  <!-- Grid -->
  <div class="w3-row-padding" id="about">
    <div class="w3-center w3-padding-64">
      <span class="w3-xlarge w3-bottombar w3-border-dark-grey w3-padding-16">
      <b>  P A G A M E N T O</b>
      </span>
    </div>


<br>
    <div class="w3-container"></div>
      <form class="w3-container w3-card-4 w3-light-grey">
        <h2 align="center">PROCURAR FICHAS</h2>
        <input class="w3-input w3-border w3-round-xxlarge" name="last" type="text"></p>
      </form>
<br><br>
        <!-- FICHA  -->
        <div class=" w3-margin-bottom " align="center" >
            <!-- Adicionar produto -->
        <div class="w3-card-4" align="center" style="width: 100%; left: 50%; position: relative;transform: translateX(-50%);" >
          <br>
          <!-- <img src="img/cv.png" alt="John" style="width:20%"> -->
          <div class="w3-container" align="center">
            <h3 >F I C H A </h3>
            <h3 >jose luiz vieira filho </h3>
            <div class="w3-container" align="center">
              
                <table border="2" align="center"   class="w3-table w3-striped w3-bordered">
                  <th align="center">NOME:</th>
                  <td colspan="10">jose luiz vieira filh jose luiz vieira filh</td>
                  <tr></tr>
                  <th align="center">RUA:</th>
                  <td colspan="3">rua marechal das ruas do centro que </td>
                  <th>Nº:</th>
                  <td>4565</td>
                  <th colspan="1">REFERÊNCIA:</th>
                  <td>centro</td>
                  <tr></tr>
                  <th>CEP:</th>
                  <td colspan="2">49700-000</td>
                  <th colspan="1">ESTADO:</th>
                  <td>SE</td>
                  <th colspan="2">CIDADE:</th>
                  <td>capela</td>
                  <tr></tr>
                  <th>CPF : </th>
                  <td colspan="2">78945612387</td>
                  <th>DATA DE NASCIMENTO: </th>
                  <td colspan="4" align="center">23/03/1995</td>
                  <tr></tr>
                  <th>LOGIN :</th>
                  <td colspan="2" >79999722046 </td>
                  <th>LIMITE-DE-CREDITO :</th>
                  <td colspan="2" >  R$500,00</td>
                  <TH>FALTA PAGAR :</TH>
                  <td>R$300,00</td>
                  <tr></tr>
                  <th>TELEFONE:</th>
                  <td colspan="2">79 99722046</td>
                  <th>EMAIL:</th>
                  <td colspan="4">brat.luiz23@hotmail.com</td>
                  <tr></tr>
                  <th>STATUS</th>
                  <td colspan="2">BOM PAGADOR 👍</td>
                  <th>LIMITE RESTANTE</th>
                  <td colspan="10">R$200,00 💵 </td>
                </table>
                <BR></BR>
            </div>
            
          </div>
        </div>
        <!-- adicionar produto -->
        </div>
        <!-- FICHA -->

          <!-- Adicionar produto -->
        <div class=" w3-margin-bottom " align="center" >
          <div class="w3-card-4" align="center" style="width: 100%; left: 50%; position: relative;transform: translateX(-50%);" >
          <br>
      
          <div class="w3-container" align="center">
            <h3 >ADICIONAR PRODUTO </h3>
          
            <div class="w3-container" id="adicionar_produto" align="center">
              
                <table border="1" align="center" class="w3-table w3-striped w3-bordered">
                  <th align="center">Id</th>
                  <th align="center">NOME</th>
                  <th align="center">TIPO</th>
                  <th align="center">QUANTIDADE</th>
                  <th align="center">DATA</th>
                  <th align="center">HORA</th>
                  <th align="center">VALOR</th>
                  <th align="center">VERIFICAR</th>
                  
                  <tr></tr>
                  <td align="center">1</td>
                  <td align="center">

                    <input class="w3-input w3-border"  type="text" placeholder="Nome">
                    
                  </td>
                  <td align="center">
                    
                    <select class="w3-select w3-border" name="option">
                      <option value="" disabled selected>Comprimidos</option>
                      <option value="0">Comprimidos</option>
                      <option value="1">Cremes</option>
                      <option value="2">comprimido</option>
                      <option value="3">pomada</option>
                      <option value="4">Pó</option>
                      <option value="5">Cápsulas</option>
                      <option value="6">Géis</option>
                      <option value="7">Soluções</option>
                      <option value="8">Suspensões</option>
                      <option value="9">Sprays</option>
                      <option value="10">Supositórios</option>
                      <option value="11">Injeções</option>
                      <option value="12">Inaladores</option>
                      <option value="13">Compressa</option>
                      
                    </select>
                    
                  </td>
                  <td align="center">
                    <input class="w3-input w3-border"  type="number" placeholder="quantidade">
                  </td>
                  <td align="center" >23/05/30</td>
                  <td align="center">08:50:30</td>
                  <td align="center">

                    <input class="w3-input w3-border"  type="number" placeholder="Nome">
                  </td>
                  <td align="center">
                    <input class="w3-check" type="checkbox"  align="center">
                    
                  </td>

             
                  
                
                
              
                </table>
              
                <br>
              </div>
          
            <div id="colar"></div>
            <br>
              <div>
              <img src="img/mais.png" alt="mais" onclick="adicionar_mais()" width="10%" style="cursor: pointer;border-radius: 50%;">
            </div>
            <p><button class="w3-button w3-light-grey w3-block">SALVAR</button></p>
          </div>
        </div>
        <!-- adicionar produto -->
        
      </div>
        <!-- adiconar produto  -->

    
      
    </div>
 <!-- final da pegamento -->




  <!-- final da tela -->
  </main>
<!-- final do pagamento -->


</div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
  
  <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>voltar pro topo</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>CRIADO POR  <a href="" title="code programado" target="_blank" class="w3-hover-text-green">Luiz vieira </a></p>
</footer>


<script>
// Slideshow
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demodots");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}
</script>

</body>
</html>
