#tabelaContainer{
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    /* grid-template-columns: 50%, 50%,50%; */
    /* border: solid red 1px; */
    flex-wrap: wrap;
    padding: 10px;
}
.ficha_tabela{
    
    margin: 5px;
    box-shadow: 0px 0px 5px 0px black;
}
.ficha_tabela:hover{
    
    box-shadow: 0px 0px 10px 0px green;
}
.contador_de_id{
    font-weight: bold;
}
.ficha_botao_mais{
    box-shadow: 0px 0px 5px 0px black;
}
.ficha_botao_mais:hover{
    box-shadow: 0px 0px 10px 0px green;
   
}

.nome_procudo{
    font-weight: bold;
    color:green;
    text-align: center;

}
.nome_procudo::placeholder{
    /* font-weight: bold; */
    color:red;

}
#ficha_procurar_input{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /* text-transform: uppercase; */
}

.pagamento_quantidade {
    /* font-size: 25px; */
    font-weight: bold;
    text-align: center;
    color: green;
}
.pagamento_quantidade::placeholder{
    color: red;
}

.tipo_de_remedio{
    /* font-size: 25px; */
    font-weight: bold;
    text-align: center;
}
.pagamento_valor{
    color: green;
    font-weight: bold;
    text-align: center;
}
.pagamento_valor::placeholder{
    color: red;
}
.mostrar_mais_{
    /* width: 20px; */
    font-size: 12px;
    position: relative;
    top: 9px;
    padding: 5px;
    /* border: solid 1px green; */
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor:pointer;
    z-index: 1;
}
.mostrar_mais_:hover{
    box-shadow:0px 0px 10px 0px green;
}
.ficha_botoes{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
position: relative;
bottom: 20px;

}
.ficha_editar_salvar{
    box-shadow: 0px 0px 0px 0px black;
    /* border: solid black 1px ; */
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}


.ficha_editar_excluir{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: red;
    cursor: pointer;
}
.ficha_editar_excluir:hover{
box-shadow: 0px 0px 10px 0px red;
}
.login_erro::placeholder{
color: red;
}

