#tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}


.tr>th, .tr>td {
    padding: 9px;
    text-align: center;
    border: 1px solid #373131;
}

.tr>th {    
    background-color: #4CAF50;
    color: white;
}

.tr {
    background-color: #f9f9f9;
    
}

.tr:hover{
    background-color: #4CAF50;
    cursor: pointer;
    color: white;
}


.filters {
    display: flex; /* Usando flexbox para alinhar os filtros */
    flex-wrap: wrap; /* Para garantir que não quebre em telas pequenas */
    gap: 10px; /* Espaçamento entre os filtros */
    margin-bottom: 10px; /* Espaço entre os filtros e a tabela */
}

select {
    padding: 5px;
   
    box-sizing: border-box;
}
.historico_selecion{
    background-color: red;
}
.filtro_do_historico{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}