.esconder{
    display: none ;
}

.escolha3{
    text-align: right;
}
.escolha2{
    text-align: center;
}
.escolha1{
    text-align: left;
}
.menu_inicial {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre os itens */
    width: 100%; /* Ajusta a largura do contêiner */
}
.menu_inicial>div {
    width: 30%; /* Ajusta a largura de cada div */
    /* padding: 20px; */
    /* background-color: lightblue; */
    text-align: center; /* Centraliza o texto dentro da div */
    /* border: solid red 1px; */
}
.menu_inicial>div>div{
    /* border: solid red 1px; */
    /* text-align: center; */
    width: 30%; /* Ajusta a largura de cada div */
   
}
.menu_inicial>div>div{
    width: 28%;

}
a {
    user-select: none; /* Para navegadores modernos */
    -moz-user-select: none; /* Para Firefox */
    -webkit-user-select: none; /* Para Safari */
    -ms-user-select: none; /* Para IE e Edge */
}

.s3{
 width: 100%;
    color: black;
}



.s3:hover{
    color: green!important;
   
}

.local_de_pesquisa{
    width:100vw;
    height: 100vh;
    background-color: black;
}
#iframe{
    position: relative;
    width:95vw;
    height: 80vh;
    top: 30px;
    left: 20px;
}