.hidden {
    display: none;
}
.hidden1 {
    display: none;
}
.mostrar1>td{
/* display: none; */
    border: solid red 1px;
}


.pagamento_ficha_input{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    /* text-transform: uppercase; */
}

